/* Shared common style */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Work Sans", sans-serif;
}
/* nav section style start */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1920px;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-logo {
  width: 86.041px;
  height: 40px;
}
.nav-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.nav-g {
  color: #ff42a5;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav-item {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-button {
  padding: 5px 28px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}
.fa-brands {
  padding: 5px;
}
.fa-youtube {
  color: red;
}
.tik-tok {
  background: -webkit-linear-gradient(left, #08fff9, #000000, #f00044);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 2px 4px 3px rgba(#08fff9, #000000, #f00044, alpha);
}
/* nav section style end */

/* banner section start */
.banner-container {
  width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-details {
  margin-left: 150px;
}
.banner-info {
  text-align: start;
}
.banner-title1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
}
.banner-title2 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-des {
  display: flex;
  list-style: none;
  margin-right: 5px;
}
.banner-description {
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-des-img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.banner-btn1 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-right: 15px;
  margin-top: 20px;
}
.banner-btn2 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}
.banner-image {
  margin-right: 120px;
}
/* bannerr section end */
/* gamer section start */
.gamer-sectiion {
  width: 1920px;
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gamer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-img {
  width: 868px;
  height: 489px;
}
.gamer-info {
  text-align: right;
}
.gamer-title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.gamer-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-bottom: 20px;
}
h4 {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
}
/* gamer section end */
/* online games section style start */
.games-container {
  margin-top: 100px;
  width: 1920px;
  height: 700px;
}
.games-info {
  text-align: center;
}
.games-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin: 20px;
}
.fun-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.games-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 70px;
}
.image {
  width: 342px;
  height: 400px;
  margin-top: 20px;
}
.card-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.card-img {
  width: 342px;
  height: 400px;
  position: relative;
}

.card-img:hover {
  filter: brightness(60%);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img:hover .overlay {
  opacity: 1;
}

.overlay-icon {
  color: #fff;
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay-text {
  color: rgb(232, 7, 127);
  font-size: 20px;
  font-weight: 600;
}
.games-card {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 220px;
}
/* online game section style end */

/* play section style start  */
.play-container {
  width: 1920px;
  height: 800px;
  display: flex;
  justify-content: center;
  gap: 320px;
  margin-top: 40px;
}
.play-info {
  text-align: right;
  margin-top: 150px;
  margin-left: 150px;
}
.play-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}
.play {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.play-img1 {
  width: 634.833px;
  height: 650px;
}

.play-img2 {
  position: relative;
  bottom: 300px;
  right: 150px;
  width: 318.5px;
  height: 365.083px;
}
/* play section end */
/* career section start */
.career-section {
  width: 1920px;
  height: 821px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.career-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}
.career-des {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
.proffession {
  display: flex;
  gap: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.country {
  text-align: end;
}
.career-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff42a5;
  border: none;
}
/* career sectiion end */

/* game types section start */
.game-types-conttainer {
  width: 1920px;
  height: 427px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.pic1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 230px;
  height: 70px;
  border-radius: 50px;
  background: #fff;
  border: none;

}
.pic1 span {
  margin-left: 3px;
  color: #0b0223;
  font-size: 15px;
  font-weight: 600;
}
.pic1:hover {
  border: 1px solid rgb(239, 10, 132);
}
.pic1:hover span {
  color: rgb(239, 10, 132);
}
.row1-games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 10px;
  padding-top: 130px;  
  
}

.row2-games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 20px;
}
/* game types section end */

/* footer style start */
.footer-container {
  width: 1920px;
  height: 636px;
  background: #0b0223;
}
.amer {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.footer-support {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.item {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.footer-link {
  margin-top: 50px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.link {
  color: white;
  width: 70px;
  height: 70px;
}
.utube {
  color: white;
}
.footer-privacy {
  margin-top: 20px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.privacy {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.copy {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
/* footer sectiion end */

/* taypes of game start */
/* .gamingg-container {
  width: 1920px;
  height: 427px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 30px;
} */
.game-btn {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.game-btn span {
  margin-left: 5px;
}

/* Responsive part start here */
/* Responsive for mobile device */
@media screen and (max-width: 576px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  /* nav responsive start */
  .nav-container {
    width: auto;
    flex-direction: column;
    height: 330px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }
  .items {
    margin-top: 5px;
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 20px;
  }
  .nav-button {
    margin-bottom: 50px;
  }
  /* nav responsive end */

  /* banner section start */
  .banner-container {
    flex-direction: column-reverse;
    width: auto;
    background-image: none;
  }
  .banner-image {
    width: 400px;
    height: 446px;
    margin-right: 0px;
    margin-bottom: 100px;
  }
  .banner-details {
    margin-left: 0px;
  }
  .banner-info {
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
  }
  .banner-title1 {
    font-size: 40px;
  }
  .banner-title2 {
    font-size: 60px;
  }
  /* banner section end */

  /* gamer section start */
  .gamer-sectiion {
    width: auto;
    height: 800px;
  }
  .gamer-container {
    flex-direction: column;
    margin-top: 50px;
  }
  .game-img {
    width: 300px;
    height: 350px;
    margin-right: 0px;
  }
  .gamer-info {
    text-align: center;
  }
  .gamer-des {
    font-size: 15px;
  }
  /* gamer section end */

  /* online games section start */
  .games-container {
    width: auto;
    height: 1850px;
  }
  .games-card {
    flex-direction: column;
    margin-left: 60px;
  }
  .image {
    width: 280px;
    height: 350px;
  }
  .games-title {
    margin: 0px;
    font-size: 25px;
  }
  .fun-video {
    font-size: 25px;
  }
  .games-description {
    font-size: 15px;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card-description {
    font-size: 10px;
    text-align: center;
    margin-right: 60px;
    margin-top: 0px;
  }
  .card-description br {
    display: none;
  }
  /* online game section end */

  /* play section start */
  .play-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: auto;
  }
  .play-info {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }
  .play-title {
    font-size: 36px;
  }
  .play-img1 {
    width: 300px;
    height: auto;
  }

  .play-img2 {
    position: relative;
    bottom: 100px;
    right: 50px;
    width: 150px;
    height: auto;
  }
  /* play section end */
  /* career section start */
  .career-section {
    width: auto;
    height: auto;
  }
  .career-container {
    flex-direction: column;
  }
  .career-info {
    font-size: 10px;
    font-weight: 400;
    margin: 20px;
  }
  .career-des {
    font-size: 15px;
  }
  .sec,
  .cou {
    font-size: 15px;
  }
  .career-btn {
    padding: 10px 20px;
  }
  .c-img {
    width: 300px;
    height: 350px;
  }
  /* career section end */

  /* types of game section start */
  .game-types-conttainer {
    width: auto;
    height: 500px;
  }
  .row1-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
  .row2-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .pic1 {
    width: 126px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
  }
  .g-img {
    width: 30px;
    height: 30px;
  }
  .pic1 span {
    font-size: 12px;
    margin-left: 0px;
  }
  /* game types section end */

  /* footer section start */
  .footer-container {
    width: auto;
  }
  .footer-support {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .footer-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-left: 80px;
  }
  .footer-privacy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 50px;
  }
  .copy {
    margin: 86px;
  }
  /* footer section end */
}

/* Responsive ffor tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  /* nav bar */
  .nav-item {
    font-size: 25px;
  }
  .nav-button {
    font-size: 25px;
  }
  /* gamer section */
  .gamer-des {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  .games-description {
    font-size: 25px;
  }
  .play-description {
    font-size: 25px;
  }
}
